@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  @apply grow ring-0 focus:outline-none overflow-x-hidden;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}


.tiptap p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.hide {
  @apply hidden;
}

.active{
  @apply bg-blue-500 text-white;
}
